{% extends 'layout.html' %}
{% block title %}
Contact Success
{% endblock %}

{% block content %}

<section class="bg0 p-t-52 p-b-20">
		<div class="container">
			<div class="row">

<div class="col-md-8 col-lg-9 p-b-80">
    <h3 class="p-r-45 p-r-0-lg"></h3>

                <div style="margin: 50px 0px 0px;text-align: center;">
                    <h4><span>Thank You for contacting us. We will reach out to you soon.</span></h1>
                </div>
</div>
            </div>
        </div>
</section>

{% endblock %}