{% extends 'layout.html' %}
{% block title %}
About
{% endblock %}

{% block content %}


	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('../static/images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>


	<!-- Content page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>

						<p class="stext-113 cl6 p-b-26">
							The new luxury.
							History says fine jewelry for occasions, we say fine jewelry for every day.
							Minus the traditional markups, with new, limited-edition drops every Monday of the year.
							Handcrafted like the olden days, but designed for the golden days ahead.
							So forget occasions.Here’s to fine jewelry for me.
						</p>

						<p class="stext-113 cl6 p-b-26">
							When it comes to our manufacturing, we vet and partner with top jewelers who commit to exceptional craftsmanship, ethical practices and the finest materials.
							We only produce in small quantities. Not because we like waitlists, but because we firmly believe in quality over quantity. While we challenge the way we introduce high-quality pieces with weekly drops, we can’t—and never will—change the traditional process of making fine jewelry. Our pieces are handcrafted like the olden days, but designed for the golden days ahead.
						</p>

						<p class="stext-113 cl6 p-b-26">
							Any questions? Let us know in store at ground floor, Shree Chowk, Basundhara, Kathmandu, NP or call us on (+911) 93 5034 657
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="../static/images/about1.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Materials
						</h3>

						<p class="stext-113 cl6 p-b-26">
							We only work with high-quality, enduring materials, from precious metals to chains, set with genuine gemstones and ethically sourced diamonds. Our pieces are made for everyday wear, forever.
							We also have a few tips and tricks you can use to keep your piece looking brand new.
							Solid gold is a precious metal that will not oxidize or discolor, since it is the least reactive metal. The 14k alloy gives our pieces their beautiful, subtle hue. It is also an active lifestyle’s best friend; it scratches less and doesn't bend or wear out as easily as 18k.
							925 Sterling Silver is an alloy made of 92.5% pure Silver and 7.5% Copper. We plate our Silver jewelry in rhodium, which gives it extra shine and durability. Rhodium is one of the costliest precious metals due to its rarity.
							All of our gemstones are genuine mineral stones that are highly valued for their beauty, longevity, and rarity. We use an array of precious and semi-precious stones, from sapphires (AAA Quality) to citrine. These are either cabochon stones which are cut like smooth domes or faceted stones which are the flat faces on geometric shapes.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
							</p>

							<span class="stext-111 cl8">
								- Steve Job’s
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="../static/images/about2.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}