
{% extends 'layout.html' %}
{% block title %}
Cart
{% endblock %}

{% block content %}

<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>


	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
									<th class="column-6">Remove</th>
								</tr>
									{% for cart in carts %}
								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="../{{cart.product.pimage}}" alt="IMG">
										</div>
									</td>
									<td class="column-2">
										  <a href="/product_details/{{cart.product.id}}"><h5>{{cart.product.pname}}</h5></a>
									</td>
									<td class="column-3">{{cart.product.pprice}}</td>
									<script type="text/javascript">

										function change_quantity(input, id) {
											var quantity = input.value;
											if(quantity < 1) {
												quantity = 1;
											}

											if(quantity > 100) {
												quantity = 100;
											}
											$.ajax({ // create an AJAX call...
												data: {new_quantity: quantity, cart_id: id}, // get the form data
												type: 'POST', // GET or POST
												url: '/cart/change_cart_quantity', // the file to call
												success: function (response) {

													if(response.success == true) {
														window.location.reload(true); // page refresh
													}
												}
											});
										}
                   				    </script>
									<td class="column-4">
										<div class="wrap-num-product flex-w m-l-auto m-r-0">

											 <input class="mtext-104 cl3 txt-center num-product" type="number" id="quantity" name="quantity" class="form-control input-number text-center" onchange="change_quantity(this, '{{cart.id}}')" value="{{cart.quantity}}" min="1" max="100">

										</div>

									</td>
									<td class="column-5">{{cart.total}}</td>

									<td class="column-6">
										<a href="/cart/delete_cart/{{cart.id}}/1"><i class="fs-16 zmdi zmdi-delete"></i></a>
									</td>
								</tr>
								 {% endfor %}
							</table>
						</div>

					</div>
				</div>

				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>

						 <script type='text/javascript'>
								 $(document).ready(function(){
									$.ajax(
							{
								type:"GET",
								url: "/cart/get_cart_price_details",
								success: function( data )
								{
									$('#sub_total' ).text("Rs. " + data.sub_total);
									$('#delivery_charge' ).text("Rs. " + data.delivery_charge);
									$('#discount' ).text("Rs. " + data.discount);
									$('#grand_total' ).text("Rs. " + data.total);
								}
							 })
        				  })
    					 </script>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Sub Total:
								</span>
							</div>

							<div class="size-209">
								<span class="mtext-110 cl2">
									<span id="sub_total">Rs. 0</span>
								</span>
							</div>
						</div>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Delivery:
								</span>
							</div>

							<div class="size-209">
								<span class="mtext-110 cl2">
									<span id="delivery_charge">Rs. 0</span>
								</span>
							</div>
						</div>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Discount:
								</span>
							</div>

							<div class="size-209">
								<span class="mtext-110 cl2">
									 <span id="discount">Rs. 0</span>
								</span>
							</div>
						</div>

						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2">
									<span id="grand_total">Rs. 0</span>
								</span>
							</div>
						</div>

						<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							<a href="{% url 'checkout' %}" style="margin-top:10px;">Proceed to Checkout</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>


{% endblock %}